.picture {
  max-height: 200px;
  max-width: 200px;
}

.headerBG {
  background-color: #2581c6;
}
.alignCenter {
  text-align: center;
}

.details {
  font-size: 17px;
}

.alignRight {
  text-align: right;
}

.labelPad {
  padding-left: 20px;
  color: grey;
}

.valuePad {
  padding-left: 40px;
  color: grey;
}

.memoryLabel {
  border: 3px;
  padding: 2px;
  border-style: groove;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin-left: 20px;
  font-size: 14px;
}

.topicColor {
  color: #1f6da8;
  font-weight: bold;
}

.outOfStock {
  color: red;
  font-weight: bold;
}

thead tr td:hover {
  background-color: #1f6da8;
}

thead tr td:after {
  background-color: #1f6da8;
}

md-tabs md-ink-bar {
  color: #1f6da8;
  background: #1f6da8;
}

md-tabs .md-tab.md-active {
  color: #8BC34A;
}

md-tabs .md-tab {
  color: #2581c6;
}

thead a, a:hover, a:active, a:visited {
  color: white;
}

.price {
  color: #8BC34A;
  font-weight: bold;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-size: 20px;
  font-family: Open Sans;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

