<div ng-cloak>
    <md-content >
      	<md-tabs md-dynamic-height md-border-bottom>

	        <md-tab label="Basic Information">
	          	<md-content class="md-padding" layout-xs="column" layout-sm="column" layout-gt-sm="row" layout-align="space-between start" layout-margin layout-padding>
	            	<div layout="column" flex-gt-sm="20" flex-xs="100" layout-align="space-between center" style="margin-top: 20px">
	              		<img ng-src="{{phone.pic}}" alt="{{phone.model}}" class="picture" layout-margin>
	              		<img ng-src="images/starrating.jpg" class="picture" layout-margin>
	            	</div>
	            	<div layout="column"  flex-gt-sm="55" flex-xs="100">
	              		<div layout="row" flex="100" layout-align="start center">
	                		<h1 >{{phone.model}} {{phone.color}} </h1>
	                		<div class="memoryLabel" > {{phone.memory}}</div>
	              		</div>
	              		<div layout="row" flex="100" layout-align="space-between center">
	                		<div flex="50">Monthly <span class="price">{{phone.monthly | number : 2 }} {{phone.currency}}</span> /mo.</div>
	                		<div flex="50">One-time <span class="price">{{phone.onetime}}</span></div>
	              		</div>
	              		<h3 class="topicColor">Description</h3>
	              		<p layout="row" flex="100">{{phone.description}}</p>
	            	</div>
	            	<div layout="column" flex-gt-sm="25" flex-xs="100" layout-align="space-between start" style="margin-top: 22px">
	              		<md-button md-no-ink class="md-raised md-primary" style="background-color: #8BC34A;" layout-align="start">SELECT</md-button>
	              		<div class="details"> 
	                		<h3 layout-padding class="topicColor">Quick details</h3>
	                		<ul>
				               	<li>{{phone.display}} Full HD screen</li>
				               	<li>Resolution 1920 x 1080 px</li>
				               	<li>{{phone.os}}</li>
				               	<li>Touch screen</li>
				               	<li>{{phone.memory}} internal storage</li>
				               	<li>Battery 3100 mAh</li>
				               	<li>13 Mpix camera</li>
				            </ul>
	              		</div>
	              		<div> 
	                		<h3 layout-padding class="topicColor">Stock</h3>                        
                			<table>
                  				<tr>
                    				<td class="labelPad">Stock</td>
                    				<td class="valuePad">{{phone.stock}}</td>
                  				</tr>
                  				<tr>
                    				<td class="labelPad">Main warehouse</td>
                    				<td class="valuePad">{{phone.stock}}</td>
                  				</tr>
                  				<tr>
                    				<td class="labelPad">Other warehouse</td>
                    				<td class="valuePad">{{phone.stock - phone.stock}}</td>
                  				</tr>
               				</table>
	           			</div>
	           		</div>
	          	</md-content>
	        </md-tab>

	        <md-tab label="Tecnical details">
	          	<md-content class="md-padding">
	            	<h1 class="md-display-2">Tecnical details</h1>
	          	</md-content>
	        </md-tab>

	        <md-tab label="Images">
	          	<md-content class="md-padding">
	            	<h1 class="md-display-2">Images</h1>
	          	</md-content>
	        </md-tab>

	        <md-tab label="Comments">
	          	<md-content class="md-padding">
	            	<h1 class="md-display-2">Comments</h1>
	          	</md-content>
	        </md-tab>

      	</md-tabs>
    </md-content>
</div>