<div ng-controller="MainCtrl">

  <form>
    <div class="form-group" layout-wrap layout-align-xs="space-between start" layout-align="space-between center" layout-xs="column" layout-sm="row" layout-gt-sm="row">
      <div flex-gt-sm="20" flex="100" >
        <h2>Phones</h2>
      </div>
      <div class="input-group" flex-gt-sm="30" flex="100">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="search">
      </div>
      <div flex-gt-sm="50" flex="100">
      </div>
    </div>
  </form>

  <table class="table table-bordered table-striped" flex-gt-sm="100" flex="100">

    <thead class="headerBG">
      <tr>
        <td></td>
        <td>
          <a href="" ng-click="sortType = 'model'; sortReverse = !sortReverse; changeBGColor = !changeBGColor" >
            Model
            <span ng-show="sortType == 'model' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'model' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'display'; sortReverse = !sortReverse">
            Display
            <span ng-show="sortType == 'display' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'display' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'os'; sortReverse = !sortReverse">
            Os
            <span ng-show="sortType == 'os' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'os' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'stock'; sortReverse = !sortReverse">
            Stock
            <span ng-show="sortType == 'stock' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'stock' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'monthly'; sortReverse = !sortReverse">
            Monthly
            <span ng-show="sortType == 'monthly' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'monthly' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'onetime'; sortReverse = !sortReverse">
            One-time
            <span ng-show="sortType == 'onetime' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'onetime' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td></td>
      </tr>  
    </thead>

    <tbody>
      <tr ng-repeat-start="phone in data | orderBy:sortType:sortReverse | filter:search" ng-click="phone.expanded = !phone.expanded">
        <td ng-show="phone.expanded" style="border-left-color: #1f6da8; border-left-width: 3px;" class="alignCenter">
          <div ng-if="phone.expanded"><span class="fa fa-caret-down"></div>
        </td>
        <td ng-show="!phone.expanded" class="alignCenter">
          <div ng-if="!phone.expanded"><span class="fa fa-caret-right"></div>
        </td>
        <td>{{phone.model}} {{phone.memory}} {{phone.color}}</td>
        <td>{{phone.display}}</td>
        <td>{{phone.os}}</td>
        <td ng-show="phone.stock === 0" class="outOfStock">Out of stock</td>

        <td ng-hide="phone.stock === 0">{{phone.stock}}</td>

        <td class="alignCenter"><span class="price">{{phone.monthly | number : 2 }} {{phone.currency}}</span> /MO.</td>
        <td class="price alignRight">{{phone.onetime}}</td>
        <td class="alignCenter"><a>SELECT</a></td>
      </tr>
      <tr ng-if="phone.expanded" ng-repeat-end="" >
        <td colspan="8" style="border-left-color: #1f6da8; border-left-width: 3px;">
          <div ng-include src="'/views/details.html'"></div> 
        </td>
      </tr>
    </tbody>

  </table>
</div>